@page
@model Final_Project.Pages.AboutModel
@{
}

<head>
    <title> About Us</title>
</head>

<body>
    <h1 class="display-1"> Our Team </h1>
    <h2 class="text-center"> Our Story </h2>
    <p class="text-center">
        Bearcat Real Estate Co. was founded in 1819 with these core 6 members at the University of Cincinnati in Cincinnati, Ohio. They have been instrumental in the development of the company and its continued success over the last 200 years. This company was founded for students, by students and these alumni have shaped a business that students at
        the University of Cincinnati can joing and be proud of anywhere around the country.
    </p>

    <h4 class="text-center">
        Mr.Bearcat
        <small class="text-muted"> CMO </small>
        <img src="http://www.uc.edu/content/dam/uc/bearcat/images/centennial_event/141031vCentennial0017.jpg" alt="Mr. Bearcat" class="rounded-circle" width="200" height="150" />
    </h4>
    <p>
        Mr. Bearcat has been the life and blood of this company because of his spirit and willingness to never give up! For as long as anyone can remember he has been the driving force for this company that keeps everyone up to speed on the performance of the company and new
        developments. As Chief Marketing Officer he does a fantastic job of getting the word out to students who are looking to become real estate agents for a nationally ranked company and want to make a difference for themselves and others. Mr. Bearcat is always around the
        University of Cincinnati handing out flyers and talking to the Marketing Club quarterly about up and coming meet and greet events at the company if any students are interested in seeing this company as a career move.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Working Days</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Mr. Bearcat </td>
                <td> CMO </td>
                <td> Bearcat@mail.uc.edu </td>
                <td> Allday Everyday  </td>
                <td> Cincinnati, OH </td>
            </tr>
        </tbody>
    </table>
    <h4 class="text-center">
        Oscar Robertson
        <small class="text-muted"> President </small>
        <img src="https://statics.sportskeeda.com/wp-content/uploads/2014/04/oscar_robertson_tsl-1396346952.jpg" alt="Oscar Robertson" class="rounded-circle" width="200" height="150" />
    </h4>
    <p>
        Oscar "O" Robertson is the President of Bearcat Real Estate Company and has taken the company to new lengths. He was the one to hore on Urban Meyer as the CEO and expand the business into different cities the company was not already present in. One of the key characteristics of 'O' is how communicative he is with all of his staff on the
        direction the comapny is going on and the areas they need improvement in as well as areas they are excelling in. He has never made any rash decisions and always consults the rest of the chief positions in the company when thinking about making changes or major hire ons. A well respected and prominent figure for this company we hope to keep for many years to come.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Working Days</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Oscar Roberston </td>
                <td> President </td>
                <td> TheBigO@mail.uc.edu </td>
                <td> Sa-S (8am-5pm) </td>
                <td> Milwaukee, WI </td>
            </tr>
        </tbody>
    </table>
    <h4 class="text-center">
        Kevin Youkilis
        <small class="text-muted"> COO </small>
        <img src="https://i.ytimg.com/vi/peyI-r1KdA0/maxresdefault.jpg" alt="Kevin Youkilis" class="rounded-circle" width="200" height="150" />
    </h4>
    <p>
        Kevin was a star on the Mens Baseball Team at the University of Cincinnati and was always leading workouts and team building exercises over his time then. It was only right for him to be chosen as the Chief Operations Officer because of his knack of understanding situations and finding the most efficient way possible to get the job done.
        One of the great things about having a former baseball star on the team is his connections to the Major League Baseball and getting us a lot of facetime and advertisement opportunities for people to inquire about our company. We are always looking to hire and or serve people who want to check out an agent in their city to help them find a dwelling. Kevin is the man to contact and he will
        help find an agent in your city that is right for you!
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Working Days</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> KEvin Youkilis </td>
                <td> COO </td>
                <td> KYoukilis@mail.uc.edu </td>
                <td> T-TH (8am-5pm) </td>
                <td> Boston, MA </td>
            </tr>
        </tbody>
    </table>
    <h4 class="text-center">
        Urban Meyer
        <small class="text-muted"> CEO </small>
        <img src="http://a.fssta.com/content/dam/fsdigital/RSN/Southwest/2015/01/10/011115-CFB-Urban-Meyer-PI.jpg" alt="Urban Meyer" class="rounded-circle" width="200" height="150" />
    </h4>
    <p>
        The man, the myth, the legend. Urban Meyer is the leader any company needs to take itself to the next level. He has been a key person in putting Bearcat Real Estate Co. on the map in all 50 states within the last decade and prominently in major cities like New York City, Chicago, Los Angeles and San Francisco. Being an alumni, a coach and a football player has made him understand perserverance and mental as well as physical toughness.
        When Fridays roll around you can catch him making hype speeches to everyone on the office in the morning to go and have a great day. Many forget, but he was the one who advocated for casual Fridays and will not admit to it when asked. He is a great man, father, coach and CEO for this company. We look forward for many years of success with him.

    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Working Days</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Urban Meyer </td>
                <td> CEO </td>
                <td> UrbanMeyer@mail.uc.edu </td>
                <td> Appointment Only </td>
                <td> Columbus, OH </td>
            </tr>
        </tbody>
    </table>
    <h4 class="text-center">
        Kenyon Martin
        <small class="text-muted"> CFO </small>
        <img src="https://cdn.vox-cdn.com/thumbor/83SKvkMMuG-Psu-QloCOt6BgefI=/0x0:2067x3200/1200x800/filters:focal(792x566:1122x896)/cdn.vox-cdn.com/uploads/chorus_image/image/55708887/498442.0.jpg" alt="Kenyon Martin" class="rounded-circle" width="200" height="150" />
    </h4>
    <p>
        Kenyon is our current Chief Financial Officer and has been since he played basketball at the University of Cincinnati. He has always been interested in financials and hsa proven a working knowledge over the last 20 years with his skills as an analyst and then a director and worked his way up to being a CFO.
        Everyone as the company highly admires Kenyon and he always has a smile on his face when you see him around the office. He can shoot baskets as well as he can predict the business plan every quarter for this company. We look forward to having him for many years and hopefully you get a chance to meet this busy person!
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Working Days</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Kenyon Martin </td>
                <td> CFO </td>
                <td> KMartin@mail.uc.edu </td>
                <td> M-W-F (8am-5pm) </td>
                <td> Denver, CO </td>
            </tr>
        </tbody>
    </table>
    <h4 class="text-center">
        Travis & Jason Kelce
        <small class="text-muted"> Lead Agents </small>
        <img src="https://www.kansascity.com/sports/nfl/kansas-city-chiefs/uzg498/picture173157386/alternates/LANDSCAPE_1140/IMG_KelceBrothersCincinn_4_1_CLMNJTF_L14979410" alt="Travis and Jason Kelce" class="rounded-circle" width="200" height="150" />
    </h4>
    <p>
        The Kelce Brothers are our best, most veteran agents who have been leading the path for years.
        They oversee many dwellings in cities across America and give seminars on their expertise in the industry and
        have written books together for other agents who want to know their secrets to the business.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Email</th>
                <th scope="col">Working Days</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Travis Kelce</td>
                <td>Lead Agent</td>
                <td> TKelceBro@mail.uc.edu </td>
                <td>M-F (8am-5pm)</td>
                <td> Kansas City, MO </td>
            </tr>
            <tr>
                <td> Jason Kelce</td>
                <td> Lead Agent</td>
                <td> JKelceBro@mail.uc.edu </td>
                <td> M-F (8am-5pm)</td>
                <td> Philidelphia, PA </td>
            </tr>
        </tbody>
    </table>
</body>