@page
@model Final_Project.Pages.HelpModel
@{
    ViewData["Title"] = "Help Center";
}
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .image {
                position: relative;
                width: 100%;
            }

            h2 {
                position: absolute;
                top: 200px;
                left: 0;
                width: 100%;
            }

                h2 span {
                    color: red;
                    font: bold 45px/45px Helvetica, Sans-Serif;
                    letter-spacing: -1px;
                    background: rgb(0,0,0);
                    background: rgba(128,128,128,0.7);
                    padding: 10px;
                }

            h3 {
                position: absolute;
                top: 200px;
                left: 0;
                width: 100%;
            }

                h3 span {
                    color: white;
                    font: 15px/30px Helvetica, Sans-Serif;
                    letter-spacing: 0px;
                    background: rgb(0,0,0);
                    background: rgb(128, 128, 128, 0.7);
                    padding: 11px;
                }
        </style>


    </head>


    <body>
        <div class="image">
            <img src="https://bloximages.newyork1.vip.townnews.com/newsrecord.org/content/tncms/assets/v3/editorial/4/a0/4a00aefa-5990-11e4-aaea-0017a43b2370/544711d1f00e2.image.jpg?resize=1200%2C800" class="text-center" alt="Bearcat" height="600" width="1100" />
            <h2><span>Help Center</span></h2>

            <h3><span><br /><br /><br />Need help using the Bearcat Real Estate site? We've got the answers you need right here. <br /> Check out our help topics below to get started with Bearcat Real Estate's online platform. <br /><br />If further assistance is required, you can reach our support team at <u>support@bre.com.</u> </span></h3>
        </div>
        <br />
        <div>
            <h1 class="badge-pill badge-danger text-center">Buying a Home</h1>
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th>1. Navigate to the Home page.</th>
                        <th><img src="https://i.imgur.com/bdXujUa.png" height="350" width="550"</th>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th>2. Select the "Find a Home" option on the bottom left side of the page.</th>
                        <th><img src="https://i.imgur.com/KbYzULH.png" height="350" width="550"</th>
                    </tr>
                    <tr>
                        <th>3. Enter the name of the city you'd like to search in.</th>
                        <th><img src="https://i.imgur.com/jZ6tOMq.png" height="350" width="550"</th>
                    </tr>
                    <tr>
                        <th>4. View the results and see if we have a fit for you!</th>
                        <th><img src="https://i.imgur.com/BboNPFM.png" height="350" width="550"</th>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </body>
